/Multinomial_Logistic_Regression_-_Ecommerce_Data/latex/
/TSA_-_RJ_Receipts_and_WTI_Price/etc/
/TSA_-_RJ_Receipts_and_WTI_Price/latex/
/TSA_-_RJ_Receipts_and_WTI_Price/leituras/
/TSA_-_RJ_Receipts_and_WTI_Price/recebidos/
/TSA_-_RJ_Receipts_and_WTI_Price/*.mm




